#returnBtn {
    -fx-background-radius: 8;
    -fx-background-color:
     linear-gradient(to right, rgba(56,255,0,1), rgba(207,212,20,1));
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -border-radius: 50%;
    -transition-duration: 0.4s;
    
}
#returnBtn:hover {
    -fx-background-color:
     linear-gradient(to left, rgba(56,255,0,1), rgba(207,212,20,1));
}

#Btn{
	  -fx-background-color:
     linear-gradient(to right, rgba(56,255,0,1), rgba(207,212,20,1));
     -fx-border-color:
	#000000;
}
#Btn:hover{
	-fx-background-color:
	linear-gradient(to left, rgba(56,255,0,1), rgba(207,212,20,1));
}

 #closeBtn {
  	-fx-background-color:
	 white;
  -fx-border-color:#000000 ;
 }
 #closeBtn:hover{
	-fx-border-color: #f44336;
}

